.detail{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    &__info{
        display: grid;
        gap: 16px;
        height: max-content;
        &-name{
            font-size: 30px;
            font-weight: 600;
        }
        &-desc{
            font-size: 18px;
            letter-spacing: .3px;
        }
        &-category{
            font-size: 18px;
            letter-spacing: .3px;
            text-transform: uppercase;
        }
        &-price{
            color: rgb(40, 40, 40);
            font-weight: 600;
            font-size: 24px;
            letter-spacing: .3px;
        }
        &-stock{
            color: rgb(40, 40, 40);
            font-weight: 600;
            font-size: 18px;
            letter-spacing: .3px;
        }
    }
    img{
        width: 50%;
        height: auto;
    }
}